.Share {
    display: flex;
    line-height: 1.5em;
    white-space: nowrap;
}

.Share h1 {
    margin-right: .5rem;
    font-size: 1.5em;
    font-weight: 100;
}

.Share h1 strong {
    font-weight: 600
}

.SiteNotification {
    padding: .9em;
    border: 1px solid hsla(0, 0%, 58.8%, .3);
    border-radius: .4em;
    background-color: hsla(0, 0%, 78.4%, .3);
    text-align: center;
}

.SiteNotification>p {
    margin-bottom: .5rem;
    font-weight: 100;
    font-size: .9em;
}

.SiteNotification>p:last-child {
    margin-bottom: 0
}

.Join {
    --join-font-size: 1.5em;
    --join-button-size: 2em;
    --join-button-border-radius: calc(var(--join-button-size)/5);
    margin: 1rem 0;
    text-align: center;
    font-size: var(--join-font-size);
    white-space: nowrap;
}

.Join button {
    display: inline-block;
    margin-left: .5rem;
    width: calc(var(--join-button-size)*2);
    height: var(--join-button-size);
    border: none;
    border-radius: var(--join-button-border-radius);
    outline: none;
    font-family: inherit;
    font-size: inherit;
}

.Join button:not([disabled]) {
    cursor: pointer;
    transition: transform .2s ease;
    background: #0d99ff;
    color: #fff;
}

.Join button:hover:not([disabled]) {
    transform: scale(1.2)
}

.Join button:active {
    transform: scale(1.1)
}

.Join input[type=text] {
    width: 9em;
    margin: 0 .5rem;
    border: none;
    border-bottom: 2px solid;
    border-bottom-color: inherit;
    background: transparent;
    color: inherit;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    outline: none
}

@media (max-width: 500px) {
    .Join {
        --join-font-size: 1.4em
    }
}

@media (max-width: 374px) {
    .Join {
        --join-font-size: 1.1em
    }
}

.Actions {
    --actions-font-size: 1.5em;
    --actions-button-size: 2em;
    --actions-button-border-radius: calc(var(--actions-button-size)/5);
    display: none;
    flex-wrap: wrap;
    margin: 1rem 0;
    font-size: var(--actions-font-size);
}

.Actions ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none
}

.Actions button,
.Actions ul {
    transition: transform .2s ease;
}

.Actions button {
    position: relative;
    display: inline-block;
    height: var(--actions-button-size);
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    outline: none;
}

.Actions button.selected:after {
    content: "";
    position: absolute;
    bottom: .2em;
    left: 50%;
    width: 4px;
    height: 4px;
    margin-left: -2px;
    border-radius: 50%;
    background-color: #fff
}

@media (min-width: 768px) {
    .Actions button:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }

    .Actions button:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
}

@keyframes moivePosition {
    0% {
        background-position: 0%
    }

    50% {
        background-position: 100%
    }

    100% {
        background-position: 0%
    }
}

@keyframes inflate {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.Actions .scores {
    margin-bottom: 1rem;
    background-image: repeating-linear-gradient(-190deg, rgb(255 0 0 / 50%) 30px, rgb(255 153 0 / 50%) 60px, rgb(255 255 0 / 50%) 90px, rgb(0 255 0 / 50%) 120px, rgb(0 0 255 / 50%) 150px, rgb(75 0 130 / 50%) 180px, rgb(238 130 238 / 50%) 210px, rgb(255 0 0 / 50%) 230px), repeating-linear-gradient(23deg, red 50px, orange 100px, yellow 150px, green 200px, blue 250px, indigo 300px, violet 350px, red 370px);
    border-radius: var(--actions-button-border-radius);
    overflow: hidden;
    animation: moivePosition 6s infinite;
    background-size: 150% 100%;
}

.Actions .scores button {
    width: var(--actions-button-size);
    background: transparent;
    color: #fff
}

.Actions .operations {
    flex-grow: 1;
    justify-content: flex-end
}

.Actions .operations #cleanScore {
    display: none;
}

.Actions .operations li:not(:first-child) {
    margin-left: 1rem
}

.Actions .operations button {
    width: calc(var(--actions-button-size)*2);
    border-radius: var(--actions-button-border-radius);
    background: #0d99ff;
    color: #fff;
}

.Actions .operations button.danger {
    background: #dc143c
}

@media (max-width: 850px) {
    .Actions .operations {
        justify-content: space-between
    }

    .Actions .operations li {
        flex-grow: 1
    }

    .Actions .operations button {
        width: 100%
    }
}

.Card {
    --card-height: 150px;
    --card-width: 100px;
    position: relative;
    width: var(--card-width);
    height: var(--card-height);
    font-size: calc(var(--card-height)/3);
    line-height: var(--card-height);
    transition: all .5s ease;
    opacity: .3;
    -webkit-perspective: calc(var(--card-height)*2);
    perspective: calc(var(--card-height)*2);
    z-index: -1;
}

.Card .face {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform .5s ease;
    text-align: center;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0 .1em .1em rgba(0, 0, 0, .2);
    box-shadow: 0 .1em .1em rgba(0, 0, 0, .2);
    border-radius: calc(var(--card-height)/10);
    color: #2f4f4f
}

.Card .back.face {
    color: #b0c4de;
    background-image: -o-linear-gradient(320deg, #b0c4de, #4682b4);
    background-image: linear-gradient(130deg, #b0c4de, #4682b4)
}

.Card .front.face {
    background-image: -o-linear-gradient(320deg, #fff, #d3d3d3);
    background-image: linear-gradient(130deg, #fff, #d3d3d3);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.Card.voted {
    opacity: 1;
    animation: inflate 1s forwards;
}

.Card.show .back.face {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg)
}

.Card.show .front.face {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

@media (max-width: 500px) {
    .Card {
        --card-height: 100px;
        --card-width: 67px
    }
}

.Votes {
    --vote-width: 100px;
    display: none;
}

.Votes ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none
}

.Votes li {
    min-width: 20%;
    margin: 0 0 1rem
}

.Votes dd,
.Votes dt {
    width: var(--vote-width);
    margin: 0 auto
}

.Votes dd {
    position: relative
}

.Votes dt {
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 2em
}

@media (max-width: 500px) {
    .Votes {
        --vote-width: 67px;
    }

    .Votes li {
        min-width: 25%
    }
}

@media (max-width: 374px) {
    .Votes li {
        min-width: 33%
    }
}

.Room {
    display: grid;
    grid-template-rows: repeat(4, -webkit-min-content);
    grid-template-rows: repeat(4, min-content);
    grid-row-gap: 1rem;
    row-gap: 1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem
}

* {
    margin: 0;
    padding: 0
}

#root,
body,
html {
    height: 100%
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 16px;
}

@media screen and (max-width: 500px) {
    body {
        font-size: 12px
    }
}

input {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}